/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Source Sans Pro", "Roboto", sans-serif;
$presentation-heading-font: "Source Sans Pro", "Roboto", sans-serif;

// colors
$body-bg: #F7F8F6;
$body-color: #3f4a45;
$link-color: #b26a6a;
$selection-bg: rgba(76, 99, 199, 0.25); // subtle blue selection
$presentation-heading-color: #4c63c7;


$presentation-title-slide-text-align: left; // ← alignment
$presentation-h1-font-size: 1.6em; // ← main title
$presentation-h2-font-size: 1.1em;
$presentation-h3-font-size: 0.9em;

.reveal a {
    line-height: 1.3em;
}

.reveal .slides section {
    padding-left: 16px;
    padding-right: 16px;
  }